@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 120px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky{
    background: #fff;
    padding: 30px 120px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color: #111;
    font-weight: 500;
    font-size: 1.7em;
    text-decoration: none;
   line-height: 20px;
   
}
header .logo span{
  color:  rgb(25, 172, 152)
}
header.sticky .logo{
color: #111;
}
header.sticky .in-1{
    color: #111;
    }

header .navigation{
    position: relative;
    display: flex;
   

}
header .navigation li{
    list-style: none;
    margin-left: 30px;
    margin-top: 8px;
}
header .navigation li a{
    text-decoration: none;
    color: #111;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
}
header.sticky .navigation li a{
    color: #111;
}
header.sticky .vary1{
    color: #1ba083;
}
header .navigation li a:hover{
    color: #1ba083;
   
}
.vary1:hover {
    color: #1ba083;
    background: #fff;
   
}
.vary1{
    background: #fff;
    color: rgb(25, 172, 152);
    border: 1px solid rgb(25, 172, 152);
    padding: 8px 20px;
    border-radius: 5px;
   margin-left: 100px;
   margin-right: 20px;
   font-size: 16px;
}
.vary{
    background: rgb(25, 172, 152);
    color: #fff;
    border: 1px solid rgb(25, 172, 152);
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
}


@media (max-width: 991px)
{
    header.sticky,
    header
    {
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
       width: 100%;
       height: calc(100% - 68px);
       position: fixed;
       top: 68px;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background: #fff;
    }
    header .navigation li{
        
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
       
    }
}


.sub-container{
    display: flex;
 
    padding-left: 120px;
}
.btn{
    display: flex;
    margin-top: 30px;
}
.btn-1{
    padding: 10px 20px;
    margin-right: 20px;
    color: #fff;
    background: rgb(25, 172, 152);
    border: 1px solid rgb(25, 172, 152);
    border-radius: 6px;
}
.btn-2{
    padding: 10px 20px;
   background: #fff;
   border: 1px solid rgb(25, 172, 152);
    color: rgb(25, 172, 152);
    border-radius: 6px;
}
.content-1 h1{
     font-size: 60px;
     line-height: 80px;
     font-weight: 600;
}
.para{
   margin-top: 30px;
   font-size: 18px;
   font-weight: 400;
   color: rgb(107, 105, 105);
}
.para1{
  
    font-size: 18px;
    font-weight: 400;
    color: rgb(107, 105, 105);
 }
.content-1{
    flex: 1;
   
    padding-top: 150px;
}
.content-2{
    flex: .2;
    background: rgb(240, 247, 245);
   margin-right: 100px;
   padding-top: 130px;
   height: 550px;
}
.content-2 img{
    width: 500px;
    height: 500px;
    transform: translate(-20%, 0);
}
.three{
    display: flex;
    margin-top: 60px;
    text-align: center;
}
.container-1{
    margin-top: 280px;
   
    margin-left: 120px;
    margin-right: 120px;
margin-bottom: 100px;
}
.sub-container-1 h1{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-top: 90px;
}
.sub-container-1 p{
    font-size: 16px;
    font-weight: 400;
    padding: 20px 230px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 180px;
}
.three-1 img{
    width: 220px;
    height: 190px;
}
.three-1{
    margin: 0 0px;
}
.three-1 h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
}
.three-1 p{
    font-weight: 400;
    line-height: 20px;
    color: rgb(124, 121, 121);
}
.three-2 img{
    width: 220px;
    height: 190px;
}
.three-2{
    margin: 0 70px;
}
.three-2 h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
}
.three-2 p{
    font-weight: 400;
    line-height: 20px;
    color: rgb(124, 121, 121);
}
.container-2{
    margin-top: 280px;
    
    margin-left: 120px;
    margin-right: 120px;
margin-bottom: 100px;
}
.service{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
  
}
.service-1 {
   margin-right: 150px;
   margin-top: 80px;

}
.service-1 .btn-2{
    margin-top: 20px;
}
.service-4 .btn-2{
    margin-top: 20px;
}
.service-1 h2{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}
.service-1 p{
    color: rgb(128, 125, 125);
}
.service1{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
  margin-top: 80px;
}
.service-4 {
    margin-left: 150px;
    margin-top: 80px;
 
 }
 .service-4 h2{
     font-size: 28px;
     font-weight: 600;
     padding-bottom: 10px;
 }
 .service-4 p{
     color: rgb(128, 125, 125);
 }
.service-1 .h3{
    font-size: 24px;
  
    margin-bottom: 10px;
}

.service-4 .h3{
    font-size: 24px;
   
    margin-bottom: 10px;
}
.service-1 .fa{
    font-size: 24px;
    color: rgb(25, 172, 152);
    margin-bottom: 14px;
    margin-right: 10px;
    margin-top: 40px;
}
.service-4 .fa{
    font-size: 24px;
    color: rgb(25, 172, 152);
    margin-bottom: 14px;
    margin-right: 10px;
    margin-top: 40px;
}
.service-1 .fa span{
    color: rgb(25, 172, 152);
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}

.service-4 .fa span{
    color: rgb(25, 172, 152);
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}
.container-3{
    margin-bottom: 160px;
}
.menu{
    display: flex;
   
    margin-left: 270px;
    margin-right: 270px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.menu-1 img{
    width: 260px;
    height: 260px;
}
.menu-2{
    margin-left: 70px;
}
.menu-2 h2{
    margin-top: 60px;
    font-size: 26px;

}
.menu-2 p{
    font-weight: 400;
    color: rgb(132, 131, 133);
}
.menu-2 h5{
     font-size: 16px;
     font-weight: 400;
     color: rgb(132, 131, 133);
}
.menu-2 .fa{
    color: crimson;
    margin-left: 10px;
    font-size: 26px;
}

.menu-2 .fa span{
    color: crimson;
    margin-left: 10px;
    font-size: 26px;
}
.symbol{
 transform: translate(0, -800%);   
 margin-right: 220px;
 margin-left: 220px;
}
.symbol-1{
    transform: translate(0, -500%);   
    margin-right: 200px;
    margin-left: 200px;
   }
.next1{
   float: right;
}
.testi{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
}
.flex-1{
    display: flex;
    margin-bottom: 20px;
}
.flex-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testi-1{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    margin-right: 80px;
    padding: 30px 80px;
}
.testi-2{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    padding: 30px 80px;
}
.head h2{
    font-size: 20px;
    font-weight: 500;
}
.head{
    margin-left: 20px;

}
.export .fas{
    color: gold;
}
.testi-1 p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(126, 123, 123);
}
.testi-2 p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(126, 123, 123);
}
.container-4{
    margin-bottom: 120px;
}